.searchbar{
    margin: 37px 0 0 37px;
    background:url('./searchicon.png')  no-repeat scroll;
    background-position:right 5% top 55%;
    width: 321px;
    height: 50px;
    border-radius:50px;
    padding:10px;
    background-color: rgba(226, 85, 85, 0.38);
    border-color: transparent transparent #eaeaea transparent; 
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) #eaeaea rgba(255,255,255,0);
}
.searchbar::placeholder{
    color:white;
    font-size: 20px;
    text-align: center;
}

.box{
    float:left;
}
.container{
    background-color: rgba(226, 85, 85, 0.35);
    overflow:hidden;
    height:1%;
    width:281px;
    border-radius:22px;
    margin: 25px 5px 5px 30px;
}
.rescontainer{
    margin: 2px 0 0 80px;
    display:inline-block;
}
.container p{
    color:black;
    font-family: "helvetica";
    font-size:17px;
    z-index:1;
    line-height:11px;
    
}